<%= form_for [@company, @account, @bill], html: { class: "ui form" } do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :company_id, value: params[:company_id] %>
  <%= f.hidden_field :account_id, value: params[:account_id] %>

  <div class="five wide field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="five wide field">
    <%= f.label :next_due_date, "Next Due Date" %>
    <%= f.date_field :next_due_date, class: '"datepicker hasDatepicker' %>
  </div>

  <div class="five wide field">
    <%= f.label :amount, "Amount" %>
    <%= f.text_field :amount %>
  </div>

    <%= f.label :category_id, "Category" %>
    <%= f.select :category_id, category_list %>

  <%= f.submit "Add Account", class: 'ui button'%>
<% end %>
