<div class="ui">
  <div class="header">
    <h1><%= @company.name %></h1>
  </div>
</div>

<div class="ui sub header">
  <%= link_to "Website", URI::HTTP.build({:host => @company.website}).to_s, target: "_blank" %>
</div><br>

<%= @company.has_accounts? %>

<div class="ui styled accordion">

  <% @accounts.each do |account| %>
    <div class="title">
      <i class="dropdown icon"></i>
      <%= account.account_name %>
    </div>

    <div class="content">
      <p class="transition hidden">Account Number: <%= account.account_number %></p>
      <p class="transition hidden">Account Type: <%= account.kind %></p>
      <p class="transition hidden"><%= link_to "More", company_account_path(account.company_id, account.id) %></p>
    </div>
  <% end %>
</div>

<% if @notes.any?  %>

  <h1>Notes</h1>

  <div class="ui cards">
    <% @notes.each do |note| %>
      <div class="card">
        <div class="content">
          <div class="meta"><%= note.read_attribute_before_type_cast("created_at") %></div>
          <div class="description">
            <%= note.entry %><br>
            <%= link_to "Delete", company_note_path(@company.id, note.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "ui red small button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Add a Note", new_company_note_path(@company.id) %><br>
<%= link_to "Add Account", new_company_account_path(company_id: @company.id) %>
