<div class="ui">
  <div class="header">
    <h1><%= @company.name %></h1>
  </div>
</div>

<div class="ui sub header">
  <%= link_to "Website", URI::HTTP.build({:host => @company.website}).to_s, target: "_blank" %>
</div>

<div class="ui styled accordion">
  <% if @company.accounts.empty? %>
    <p>You do not have any accounts at this company.</p>
  <% end %>

  <% @accounts.each do |account| %>
    <div class="title">
      <i class="dropdown icon"></i>
      <%= account.account_name %>
    </div>

    <div class="content">
      <p class="transition hidden">Account Number: <%= account.account_number %></p>
    </div>
  <% end %>
</div>

<%= link_to "Add new account", new_company_account_path(company_id: @company.id) %>
