<%= link_to 'New Category', new_category_path %>
<h1>Accounts</h1>

<table class="ui celled table">
 <thead>
   <th>Account Name</th>
   <th>Company Name</th>
   <th>Type</th>
   <th>Options</th>
 </thead>

 <tbody>

   <% @accounts.each do |account| %>
     <tr>
       <td><%= link_to "#{account.account_name}", company_account_path(account.id, account.company_id) %></td>
       <td><%= Company.find(account.company_id).name %></td>
       <td><%= account.kind %></td>
       <td>
         <%= link_to "Delete", company_account_path(account.company_id, account.id), method: :delete, class: "ui red small button" %>
         <%= link_to "Edit", edit_company_account_path(account.company_id, account.id), class: "ui yellow small button" %>
      </td>
     </tr>
   <% end %>
 </tbody>
</table>


<h1>Credit Cards</h1>

<table class="ui celled table">
 <thead>
   <th>Name on card</th>
   <th>Company Name</th>
   <th>Card Number</th>
   <th>Options</th>
 </thead>

 <tbody>

   <% @credit_cards.each do |card| %>
     <tr>
       <td><%= card.name_on_card %></td>
       <td><%= link_to Company.find(card.company_id).name, company_account_path(card.id, card.company_id) %></td>
       <td><%= card.card_number %></td>
       <td>
         <a href="#" class="ui small button">Pay</a>
         <%= link_to "Delete", company_account_credit_card_path(card.company_id, card.account_id ,card.id), method: :delete, class: "ui red small button" %>
       </td>
     </tr>
   <% end %>
 </tbody>
</table>

<h1>Debit Cards</h1>

<table class="ui celled table">
 <thead>
   <th>Name on card</th>
   <th>Company Name</th>
   <th>Card Number</th>
   <th>Options</th>
 </thead>

 <tbody>

   <% @debit_cards.each do |card| %>
     <tr>
       <td><%= card.name_on_card %></td>
       <td><%= link_to Company.find(card.company_id).name, company_account_path(card.id, card.company_id) %></td>
       <td><%= card.card_number %></td>
       <td>
         <%= link_to "Delete", company_account_debit_card_path(card.company_id, card.account_id ,card.id), method: :delete, class: "ui red small button" %>
       </td>
     </tr>
   <% end %>
 </tbody>
</table>

<h1>Bills</h1>

<table class="ui celled table">
 <thead>
   <th>Company</th>
   <th>Account</th>
   <th>Date</th>
   <th>Amount</th>
   <th>Options</th>
 </thead>

 <tbody>

   <% @bills.each do |bill| %>
     <tr>
       <td><%= Company.find(bill.company_id).name %></td>
       <td><%= Account.find(bill.account_id).account_name %></td>
       <td><%= bill.next_due_date %></td>
       <td><%= bill.amount %></td>
       <td>
         <a href="#" class="ui small button">Pay</a>
         <%= link_to "Delete", company_account_bill_path(bill.company_id, bill.account_id, bill.id), method: :delete, class: "ui red small button" %>
       </td>
     </tr>
   <% end %>
 </tbody>
</table>

