<%= link_to 'New Category', new_category_path %>
<h1>Accounts</h1>

<table class="ui celled table">
 <thead>
   <th>Account Name</th>
   <th>Company Name</th>
   <th>Type</th>
 </thead>

 <tbody>

   <% @accounts.each do |account| %>
     <tr>
       <td><%= link_to "#{account.account_name}", company_account_path(account.id, account.company_id) %></td>
       <td><%= Company.find(account.company_id).name %></td>
       <td><%= account.kind %></td>
       <td><a href="#" class="ui small button">Pay</a></td>
     </tr>
   <% end %>
 </tbody>
</table>


<h1>Credit Cards</h1>

<table class="ui celled table">
 <thead>
   <th>Name on card</th>
   <th>Company Name</th>
   <th>Card Number</th>
 </thead>

 <tbody>

   <% @credit_cards.each do |card| %>
     <tr>
       <td><%= card.name_on_card %></td>
       <td><%= link_to Company.find(card.company_id).name, company_account_path(card.id, card.company_id) %></td>
       <td><%= card.card_number %></td>
       <td><a href="#" class="ui small button">Pay</a></td>
     </tr>
   <% end %>
 </tbody>
</table>

<h1>Debit Cards</h1>

<table class="ui celled table">
 <thead>
   <th>Name on card</th>
   <th>Company Name</th>
   <th>Card Number</th>
 </thead>

 <tbody>

   <% @debit_cards.each do |card| %>
     <tr>
       <td><%= card.name_on_card %></td>
       <td><%= link_to Company.find(card.company_id).name, company_account_path(card.id, card.company_id) %></td>
       <td><%= card.card_number %></td>
       <td><a href="#" class="ui small button">Pay</a></td>
     </tr>
   <% end %>
 </tbody>
</table>
