<%= form_for [@company, @account], html: { class: "ui form" } do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="five wide field">
    <%= f.label :account_name %>
    <%= f.text_field :account_name %>
  </div>

  <div class="five wide field">
    <%= f.label :account_number %>
    <%= f.text_field :account_number %>
  </div>

  <div class="five wide field">
    <%= f.label :kind, "Type" %>
    <%= f.text_field :kind %>
  </div>

  <%= f.submit "Add Account", class: 'ui button'%>
<% end %>
