<h3>Account Name: <%= @account.account_name %></h3>
<h3>Type: <%= @account.kind %></h3>
<h3>Account Number: <%= @account.account_number %></h3>

<% if @credit_cards.any? %>
  <h1>Credit Cards</h1>

  <table class="ui celled table">
    <thead>
      <th>Account Name</th>
      <th>Company Name</th>
      <th>Options</th>
    </thead>

    <tbody>
      <% @credit_cards.each do |card| %>
        <tr>
          <td><%= card.name_on_card %></td>
          <td><%= Company.find(card.company_id).name %></td>
          <td><a href="#" class="ui small button">Pay</a>
            <%= link_to "Remove", company_account_path(@account.company_id, @account.id), data: {confirm: 'Are you sure?'}, method: :destroy, class: "ui red small button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end  %>

<% if @debit_cards.any? %>
  <h1>Debit Cards</h1>

  <table class="ui celled table">
    <thead>
      <th>Account Name</th>
      <th>Company Name</th>
      <th>Options</th>
    </thead>

    <tbody>
      <% @debit_cards.each do |card| %>
        <tr>
          <td><%= card.name_on_card %></td>
          <td><%= Company.find(card.company_id).name %></td>
          <td><a href="#" class="ui small button">Pay</a>
            <%= link_to "Remove", company_account_path(@account.company_id, @account.id), data: {confirm: 'Are you sure?'}, method: :destroy, class: "ui red small button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end  %>

<% if @loans.any? %>
  <h1>Loans</h1>
  <table class="ui celled table">
    <thead>
      <th>Interest</th>
      <th>Total</th>
      <th>Options</th>
    </thead>

    <tbody>

      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.interest %></td>
          <td><%= loan.amount %></td>
          <td>
            <a href="#" class="ui small button">Pay</a>
            <%= binding.pry %>
            <%= link_to "Remove", company_account_loan_path(loan.company_id, loan.account_id, loan.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "ui red small button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end  %>

<% if @notes.any?  %>
  <h1>Notes</h1>

  <div class="ui cards">
    <% @notes.each do |note| %>
      <div class="card">
        <div class="content">
          <div class="meta"><%= note.read_attribute_before_type_cast("created_at") %></div>
          <div class="description">
            <%= note.entry %><br>
            <%= link_to "Delete", company_account_note_path(@company.id, @account.id, note.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "ui red small button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<p>Options</p>
<%= link_to "New Credit Card", new_company_account_credit_card_path(@account.company_id, @account.id) %><br>
<%= link_to "New Debit Card", new_company_account_debit_card_path(@account.company_id, @account.id) %><br>
<%= link_to 'New Bill', new_company_account_bill_path(@account.company_id, @account.id) %><br>
<%= link_to "Add a new Note", new_company_account_note_path(@account.company_id, @account.id) %><br>
<%= link_to "Add new account", new_company_account_path(company_id: @company.id) %><br>
<%= link_to "Add a new Loan", new_company_account_loan_path(@account.company_id, @account.id) %><br>
