<p><%= @account.account_name %></p>
<p><%= @account.kind %></p>
<p><%= @account.account_number %></p>

<%= link_to "New Credit Card", new_company_account_credit_card_path(@account.company_id, @account.id) %>
<%= link_to "New Debit Card", new_company_account_debit_card_path(@account.company_id, @account.id) %>


<h1>Credit Cards</h1>

<table class="ui celled table">
 <thead>
   <th>Account Name</th>
   <th>Company Name</th>
   <th>Options</th>
 </thead>

 <tbody>

   <% @credit_cards.each do |card| %>
     <tr>
       <td><%= card.name_on_card %></td>
   <%= console %>
       <td><%= Company.find(card.company_id).name %></td>
       <td><a href="#" class="ui small button">Pay</a>
         <%= link_to "Remove", company_account_path(@account.company_id, @account.id), data: {confirm: 'Are you sure?'}, method: :destroy, class: "ui red small button" %></td>
     </tr>
   <% end %>
 </tbody>
</table>

<h1>Notes</h1>

<div class="ui list">
   <% @notes.each do |note| %>
     <div class="item"><%= note.entry %><%= link_to "Delete", company_account_note_path(@account.company_id, @account.id ,note.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "ui red small button" %></td></div>
   <% end %>
</div>

<h1>Loans</h1>

<div class="ui list">
   <% @loans.each do |loan| %>
     <div class="item"><%= loan.interest %> <%= loan.amount %></td></div>
   <% end %>
</div>

<%= link_to "Add a new Note", new_company_account_note_path(@account.company_id, @account.id) %><br>
<%= link_to "Add new account", new_company_account_path(company_id: @company.id) %><br>
<%= link_to "Add a new Loan", new_company_account_loan_path(@account.company_id, @account.id) %><br>
